<!DOCTYPE html>
<html lang="en-us">
<head>
        <title>College Planner</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

     <!-- Link CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Link in JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>
    <!-- <header class="header"> -->
    <div class="cover text-center ">
      <nav class="navbar fixed-top mb-0 p-2">
        <a href="/"><img id="logo" src="assets/images/college_planner_logo.png"></a>
        <ul class="nav justify-content-end">
          <li class="nav-item ">
            <a class="nav-link active " id="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="testimonials">Testimonials</a>
          </li>
        </ul> 
      </nav>
    </div>
            
    <!-- </header> -->
    <main role="main" class="fluid-container pt-5 ">
            {{{body}}} <!-- Handlebars -->
    </main>
    <footer class="footer">
            <div class="container">
                    <span class="text-muted">© Copyright 2017 • UC Berkeley Coding Bootcamp Team: Nagarani, Priya, Chamaine and Christina.
                    </span>
            </div>
    </footer>       

    <!-- Javascript code for this client -->
    <script type="text/javascript" src="assets/js/college-client.js"></script>
</body>

</html>