<div class="row" id="login-btns">
	<a href="/signin">Sign In</a> | 
	<a href="/register">Register</a>
</div>


<h1><center>Welcome to College Panner!</center></h1>
<h2><center>Your personal college profiler and much more!</center></h2>