<div class="container">
	<div class="row" id="login-btns">
		<a href="/">Back</a>
	</div>
	<br>
	<div class="row">
		<form {{!-- action="/api/users" method="post" --}}>
			<div class="form-group">
				<label for="email">Email </label>
				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
				<small class="form-text text-muted" id="email">We will never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="password">Password </label>
				<input type="password" class="form-control" id="password" name="password" placeholder="type password">
			</div>
			{{#if newUser}} <!-- Only for new user registration -->
			<div class="form-group">
				<label for="input">Location </label>
				<input type="input" class="form-control" id="location" name="location" placeholder="type location">
			</div>
			<div class="form-group">
				<label for="input">GPA </label>
				<input type="input" class="form-control" id="gpa" name="gpa" placeholder="type gpa">
			</div>

			<div class="form-group">
				<label for="confirm">Confirm Password </label>
				<input type="password" class="form-control" id="confirm" name="confirm" placeholder="retype password">
			</div>

			{{/if}}
			<button type="submit" class="btn btn-primary" id="register">Register</button>r
			<button type="submit" class="btn btn-primary" id="login">Sign IN</button> 
		</form>
	</div>
</div>