<h4>Testimonials from our subscribers</h4>

<div class="demo">
    <div class="container">
        <div class="row testimonial">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="./assets/images/student_image1-01.png" alt="">
                        </div>
                        <div class="testimonial-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Bishop O'Dowd Student</span>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor purus, pellentesque in turpis quis, euismod consectetur eros. Ut ultricies a sem sed maximus. Ut auctor tincidunt porta. Vivamus finibus lacus ipsum, quis rutrum neque aliquam id. Sed eget felis in ex semper pulvinar. Nulla facilisi. Morbi ultrices fringilla arcu.
                            </p>
                        </div>
                    </div>
 
                    <div class="testimonial">
                        <div class="pic">
                            <img src="./assets/images/student_image2-01.png" alt="">
                        </div>
                        <div class="testimonial-content">
                            <h3 class="title">Kristina</h3>
                            <span class="post">Stanford University Student</span>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor purus, pellentesque in turpis quis, euismod consectetur eros. Ut ultricies a sem sed maximus. Ut auctor tincidunt porta. Vivamus finibus lacus ipsum, quis rutrum neque aliquam id. Sed eget felis in ex semper pulvinar. Nulla facilisi. Morbi ultrices fringilla arcu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>